<div class="admin-wrapper">
    <header class="header">
        <button mat-button color="primary" (click)="logout()">Desconectar</button>
    </header>
    <div class="side-menu">
        <details>
            <summary>
                Cadastros
            </summary>
            <div class="options">
                <p>
                    <a [routerLink]="['servico']">Cadastro serviço</a>
                </p> 
                <p>
                    <a>Cadastro locutor</a>
                </p> 
                <p>
                    <a>Cadastro rádio</a>
                </p>
            </div>
        </details>
        <details>
            <summary>
                Ordem serviço
            </summary>
        </details>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>