.admin-wrapper{
    height: 100%;
}
.header{
    outline: solid 1px black;
    height: 48px;
    z-index: 1/0; /* header has z-index: 0, content has z-index: 1 */
    position: relative; /* to 'activate' z-index 'behavior' */
    background-color: white;
}

.page{
    height: 100%;
    display: grid;
    margin-top: -48px;
    padding-top: 48px;
    grid-template-columns: 248px 1fr;
    .side-menu{
        outline: solid 1px black;
        padding: 16px 0;
        background-color: #b1b1b1;

    }
    
    .content{
        height: 100%;
    }
}

details {
    cursor: pointer;
    overflow: hidden;
    background-color: #b1b1b1;
    summary{
        display: block;
        padding: 8px 24px;
    }
    p{
        padding: 8px 0px 8px 36px;
        border-radius: 4px;
    }
    p:hover{
        background-color: rgb(141, 250, 250);
    }
}

details:not([open]) summary:hover,
details:not([open]) summary:focus {      
  background: white;
  color: #454545;
}

details[open] summary {
  background: white;
}

details[open]{
    background-color: white;
}



