<div class="home-wrapper">
    <mat-card class="card blue">
        <mat-card-header>
            <mat-card-title>Nova solicitação</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Solicitar novo apoio cultural.
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card orange">
        <mat-card-header>
            <mat-card-title>Minhas solicitações</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Acompanhar o andamento das solicitações.
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card gray">
        <mat-card-header>
            <mat-card-title>Dados cadastrais</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Atualizar dados cadastrais.
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>