<table>
    <tr>
      <th>Email</th>
      <th>Data criação</th>
      <th>Deferido</th>
      <th>Subtotal</th>
    </tr>
    <tr *ngFor="let ordemServico of ordensServicoList">
      <td>{{ordemServico.userId.email}}</td>
      <td>{{ordemServico.createdAt}}</td>
      <td>{{ordemServico.situacaoId.descricao}}</td>
      <td>{{convertToBRL(ordemServico.subtotal)}}</td>
      <td>
        <button id={{ordemServico.id}} (click)="getOrdemServicoDetails($event)">
            Visualizar   
        </button>
      </td>
    </tr>
    <tr *ngFor="let ordemServico of ordensServicoList">
    </tr>
</table>