<div class="items-wrapper">
    <table class="tb-items">
        <tr>
            <th>Descricao</th>
            <th>Serviço</th>
            <th>Valor</th>
            <th>Quantidade</th>
            <th>Arquivos</th>
        </tr>
        <tr *ngFor="let ordemServicoItem of ordemServicoItemsList">
            <td>{{ordemServicoItem.descricao}}</td>
            <td>{{ordemServicoItem.servicoId.descricao}}</td>
            <td>{{ordemServicoItem.servicoId.valor}}</td>
            <td>{{ordemServicoItem.quantidade}}</td>
            <td>
            <button value={{ordemServicoItem.arquivo}} (click)="downloadFile($event)">Visualizar arquivo</button>
            </td>
        </tr>
    </table>
    <form [formGroup]="deferimentoForm">
        <label for="observacao">Observação: </label>
        <input id="observacao" type="text" formControlName="observacao">   
    </form>   
    <!--Precisa verificar para as telas de usuário a logica de exibir ou não ordens de serviço--> 
    <div *ngIf="isAdmin && ordemServico.situacaoId.id == 2">
        <div>
            <button (click)="setDeferimento(true)">Deferir</button>
            <button (click)="setDeferimento(false)">Não deferir</button>
        </div>
    </div>
</div>