<div class="form-wrapper">
    <form [formGroup]="servicoForm" class="form">
        <mat-form-field appearance="outline">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="descricao" [value]="servicoForm.value.descricao">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="valor" [value]="servicoForm.value.valor">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Observação</mat-label>
            <textarea matInput formControlName="observacao" [value]="servicoForm.value.observacao"></textarea>
        </mat-form-field>
        <div class="options">
            <button mat-flat-button color="primary" (click)="onSubmit()">Salvar</button>
            <button mat-flat-button color="accent" (click)="voltar()">Voltar</button>
        </div>
    </form>
</div>